section{
    display: flex;
    -webkit-display: flex;
}

.checked{
    background-color: white;
    color: #3c3c3c;
}

#menu{
    display: inline-block;
    min-width: 200px;
    max-width: 300px;
    height: 160vh;
    float: left;
    border-right: solid 2px white;
    padding: 0;
    width: 30vw;
}

span{
    font-family: "Palatino Linotype";
}

#myData{
    display: inline-block;
    width: 100%;
}

#menu h2{
    margin-bottom: 5vh;
}

#myData canvas{
    padding: 5px;
    border: solid 3px #ffffff;
    margin: 1vh 1vw 1vh 1vh;
    width: 40vw;
    max-width: 80vw;
}

#menuBurger{
    display: none;
}



#param:hover{
    cursor: pointer;
}

ul{
    padding: 0;
    margin: 0;
}

.group{
    padding-bottom: 2vh;
}

.group h3{
    padding-right: 80px;
    font-weight: bold;
}

.capt li{
    padding: 2px 0 2px 10px;
}

.capt li:hover{
    transition-duration: 0.2s;
    background-color: white;
    color: #3c3c3c;
    cursor: pointer;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px){

    section{
        display: block;
    }

    #menu h2{
        font-size: 4em;
        margin-bottom: 0;
    }

    #menu{
        display: block;
        position: fixed;
        height: 8vh;
        border: 0;
        border-bottom: 2px solid white;
        width: 100vw;
        min-width: 100vw;
    }


    .closed{
        display: none;
    }

    #myData{
        margin-top: 10vh;
    }

    #menu h2{
        align-content: center;
    }

    #menuBurger{
        display: inline-block;
        position: absolute;
        top: 2.5vh;
        left: 3vw;
        font-size: 3em;
    }

    .group h3{
        padding-right: 80px;
        font-size: 3em;
        font-weight: bold;
    }

    .group li{
        font-size: 2.2em;
    }

    #groupMenu{
        padding-top: 3vh;
        padding-bottom: 3vh;
        background-color: #3c3c3c;
        border-bottom: 2px white solid;
    }


    #param{
        position: absolute;
        top: 2.5vh;
        right: 3vw;
        font-size: 3em;
    }

    #myData canvas{
        max-width: 98vw;
    }
}



