html{
    text-align: center;
}

body{
    background-color: #3c3c3c;
    color: white;
    font-size: 2em;
    font-family: Poiret One;
}

h1{
    font-size: 4em;
}

#formID{
    font-size: 1.5em;
    margin: 30vh 8vw 2vh 8vw;
}

#changeMdp{
    font-size: 1.5em;
    margin: 30vh 8vw 2vh 8vw;
}

#psw, #nPsw{
    margin-top: 1vh;
    padding: 2vh 0 2vh 0;
    font-size: 2em;
    text-align: center;
}

.button:hover{
    background-color: white;
    color: #3c3c3c;
}

.button{
    background-color: transparent;
    border: solid 3px white;
    width: 100%;
    padding: 1vh 0 1vh 0;
    transition-duration: 0.3s;
}

#settings{
    color: rgba(255, 255, 255, 1);
    font-size: 3em;
    border: solid 2px white;
    padding: 15px;
    border-radius: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.3vh 3vw 0 0;
}

#settings:hover{
    cursor: pointer;
    color: #3c3c3c;
    background-color: white;

}